{% extends "page_skeleton.html" %}

{% block content %}
    <div class="row">
        <div class="span4">
            Views: 2304
            About the project owner
            {{ project.owner.userprofile.description }}
            Started projects: {{ project.owner.userprofile.get_started_projects|length }}
            Involved projects" {{ project.owner.userprofile.get_involved_projects|length }}
        </div>
        <div class="span8">
            <form>
                <input type="hidden" value="{{ project.pk }}" name="project"/> 
                <input type="submit" value="Apply for position"></input>
            </form>
                <div>Category - {{ project.get_category_display }}</div>
                <h1>{{ project.title }}</h1>
                <div>
                    {{ project.description }}
                </div>
                <div>
                    {{ project.requirement }}
                </div>
                

            <div>
                Project Updates and Discussions
            </div>
        </div>
    </div>
{% endblock content %}
